<a href="https://colab.research.google.com/github/foreverOyeong/this-is-coding-test/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EB%B3%B8_%EC%9D%B4%EA%B2%83%EC%9D%B4_%EC%BD%94%ED%85%8C%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 프로그래머스
1) 슬라이싱 ([::-1]) 설명

파이썬 슬라이싱 문법은 [start:stop:step] 형태로,

start부터 stop 바로 전 인덱스까지 step 간격으로 요소를 가져옵니다.

여기서 [::-1] 은 start와 stop을 모두 비워두고 step = -1 를 지정한 것이어서

“문자열(혹은 리스트)을 끝에서부터 앞으로 한 칸씩 이동하며 역순으로 복사해라”

2) ''.join() 설명

''.join( iterable ) 은 “iterable(반복 가능한 객체)의 각 요소를 빈 문자열('')을 사이사이에 끼워 넣어 하나의 문자열로 합쳐라” 라는 의미예요.

3) reversed()

`rev_iter = reversed("hello")  ` 주어진 시퀀스를 역순으로 순회할 수 있는 이터레이터를 반환 `rev_iter는 ['o', 'l', 'l', 'e', 'h']`

In [ ]:
a=1000
print(a)
a= -7
print(a)

a=1e9
print(a)

1000
-7
1000000000.0

In [ ]:
a=round(a,1)0.3+0.6
print()
if a==0.9:
  print(True)
else:
  print(False)

0.9
False

# CH3. 그리디 알고리즘 -
CH4는 104p

예제 3-1. 거스름돈

In [ ]:
n=1260
count=0

coin_types=[500,100,50,10]

for coin in coin_types:
  count+=n//coin # //는 몫을 뜻함
  n%= coin # n %coin: n을 coin으로 나눈 나머지를 n에 저장한다.

print(count)

6

## 3-2) 큰 수의 법칙

동빈이의 큰 수의 법칙은 다양한 수로 이루어진 배열이 있을 때 주어진 수들을 M번 더하여 가장 큰 수를 만드는 법칙이다. 단 배열의 특정한 인덱스(번호)에 해당하는 수가 연속해서 K번을 초과하여 더해질 수 없는 것이 이 법칙의 특징이다.
예를 들어 순서대로 2,4,5,4,6 으로 이루어진 배열이 있을 때 M이 8이고, K가 3이라고 가정하자. 이 경우 특정한 인덱스의 수가 연속해서 세 번까지만 더해질 수 있으므로 큰 수의 법칙에 따르 결과는 66656665 더한 46이 된다.
단 서로 다른 인덱스에 해당하는 수가 같은 경우에도 서로 다른 것으로 간주한다. 예를 들어 순서대로 34343으로 이루어진 배열이 있을 때 M이 7이고, K가 2라고 가정하자. 이 경우 두 번째 원소에 해당하는 4와 네 번째 해당하는 4를 서로 다른 것으로 간주하기 때문에 4444444인 28이 도출된다.
배열의 크기 N, 숫자가 더해지는 횟수 M, 그리고 K가 주어질 때 동빈이의 큰 수의 법칙에 따른 결과를 출력하시오

입력조건 : 첫째 줄에 N(2<= N<= 1000), M(1<=M<=10000), K(1<=K<=10000)의 자연수가 주어지며, 각 자연수는 공백으로 구분한다.


둘째 줄에 N개의 자연수가 주어진다. 각 자연수는 공백으로 구분한다. 단, 각각의 자연수는 1 이상 10000이하의 수로 주어진다


입력으로 주어지는 K는 항상 M보다 작거나 같다
첫째 줄에 동빈이의 큰 수의 법칙에 따라 더해진 답을 출력한다.

In [ ]:
n, m, k = map(int, input().split()) # map은 int옵션을 통해 정수로 바꿀 수 있음
# input은 문자열로 입력받고, split()은 공백 기준으로 나눔
data= list(map(int,input().split())) # n개의 숫자 배열 입력
# 2 4 5를 입력하면 data = [2, 4, 5]로 저장됨

data.sort(reverse=True) # 내림차순 정렬
first=data[0] # 가장 큰 수
second=data[1] # 두 번째 큰 수

result=0

# 가장 큰수 최대한 더한 다음, 나머지를 그 다음 작은 수로 채우는 방법

while True:
  for i in range(k): #가장 큰 수를 k번 더하기
    if m==0: # m이 0이라면 반복문 탈출
      break
    result+=first
    m -= 1 # 더할 때마다 1씩 빼기
  if m==0: # m이 0이라면 반복문 탈출
    break
  result += second #두 번째로 큰 수를 한번 더하기
  m-=1 # 더할 때마다 1씩 빼기

print(result)

3 5 2
2 5 6
29

In [ ]:
n, m, k = map(int, input().split())
data=list(map(int, input().split()))

data.sort()
first= data[n-1]
second=data[n-2]

# 가장 큰 수가 더해지는 횟수 계산
# k번 가장 큰 수+ 1번 두번째 큰 수 더하는 것이 1 세트이기 때문에 k+1을 나눠줌
count = (m//(k+1))*k
count += m % (k+1) # 남은 횟수는 모두 가장 큰 수로 더함

result=0
result += count * first
result += (m-count)*second
print(result)

3 5 2
2 5 6
29

## 3-3) 숫자 카드 게임

숫자 카드 게임은 여러 개의 숫자 카드 중에서 가장 높은 숫자가 쓰인 카드 한 장을 뽑는 게임이다. 단 게임의 룰은 다음과 같다.
1. 숫자가 쓰인 카드들이 n x m 형태로 놓여 있다. 이 때 n은 행의 개수이고 m은 열의 개수이다.
2. 먼저 뽑고자 하는 카드가 포함되어 있는 행을 선택한다.
3. 그 다음 선택된 행에 포함된 카드 중 가장 숫자가 낮은 카드를 뽑아야 한다.
4. 따라서 처음에 카드를 골라낼 행을 선택할 때, 이후에 해당 행에서 가장 숫자가 낮은 카드를 뽑을 것을 고려하여 최종적으로 가장 높은 숫자의 카드를 뽑을 수 있도록 전략을 세워야 한다.

입력조건
- 첫째 줄에 숫자카드들이 놓인 행의 개수 n과 열의 개수 m이 공백을 기준으로 하여 각각 자연수로 주어진다. (1<=n, m<=100)
- 둘째 줄부터 n개의 줄에 걸쳐 각 카드가 적힌 숫자가 주어진다. 각 숫자는 1 이상 10000 이하의 자연수이다.


출력조건
- 첫번째 게임의 룰에 맞게 선택한 카드에 적힌 숫자를 출력한다

In [ ]:
n, m = map(int, input().split())

result = 0
for i in range(n):
  data=list(map(int, input().split()))
  min_value=min(data)
  result=max(result,min_value)

print(result)

3 3
4
7 2 7
1 7 4
4

In [ ]:
n, m = map(int, input().split())

result=0
for i in range(n):
  data= list(map(int, input().split()))
  min_value=10001
  for a in data:
    min_value=min(min_value,a)
  result=max(result,min_value)

print(result)

3 3
5 7 3
3 8 5
6
6

## 3-4) 1이 될 때 까지

어떠한 수 n이 1이 될 때까지 다음의 두 과정 중 하나를 반복적으로 선택하여 수행하려고 한다. 단, 두 번째 연산은 n 이 k로 나누어떨어질 때만 선택할 수 있다.
1. n에서 1을 뺀다.
2. n을 k로 나눈다.

예를 들어 n이 17, k가 4라고 가정하자. 이 때 1번의 과정을 한 번 수행하면 n은 16이 된다.

이후에 2번의 과정을 두 번 수행하면 n은 1이 된다. 결과적으로 이 경우 전체 과정을 실행한 횟수는 3이 된다.

이는 n을 1으로 만드는 최소 횟수이다.
n과 k가 주어질 때 n이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 최소 횟수를 구하는 프로그램을 작성하시오.

입력조건
- 첫째 줄에 n(2<= n<=100000)과 k(2<= k <= 100000)가 공백으로 구분되며 각각 자연수로 주어진다. 이 때 입력으로 주어지는 n은 항상 k 보다 크거나 같다.

출력조건
- 첫째 줄에 n이 1이 될 때까지 1번 혹은 2번의 과정을 수행해야 하는 횟수의 최솟값을 출력한다.

In [ ]:
n, k=map(int,input().split())

result=0
while True:
  if n==1:
    break

  if n%k==0:
    n= n//k
    result+=1
  else:
    n= n-1
    result+=1

print(result)

17 6
7

In [ ]:
n, k = map(int, input().split())

result = 0

while n > 1:
    if n % k == 0:
        n //= k        # 정수 나눗셈
    else:
        n -= 1         # 1 빼기
    result += 1        # 연산 횟수 누적

print(result)

17 6
7

In [ ]:
n, k= map(int, input().split())
result=0

while n>=k:
  while n%k != 0:
    n -= 1
    result += 1
  n//=k
  result+=1

print(result)

17 6
6

In [ ]:
n,k= map(int, input().split())
result=0

while True:
  target=(n//k)*k
  result += (n-target)
  n=target

  if n<k:
    break
  result += 1
  n //= k

result +=(n-1)
print(result)

17 6
7

# CH11 그리디문제 312p

## Q01 모험가길드
한 마을에 모험가가 N명 있습니다. 모험가 길드에서는 N명의 모험가르 ㄹ대상으로 '공포도'를 측정했는데, 높은 모험가는 쉽게 공포를 느껴 대처 능력이 떨어집니다. 공포도가 x인 모험가는 반드시 x명 이상으로 구성한 모험가 그룹에 참여해야 여행을 떠날 수 있도록 규정했습니다. 동빈이는 최대 몇 개의 모험가 그룹을 만들 수 있는지 궁금합니다.

N명의 모험가에 대한 정보가 주어졌을 때, 여행을 떠날 수 있는 그룹 수의 최댓값을 구하는 프로그램을 작성하세요

예를 들어 N=5이고, 각 모험가의 공포도가 2 3 1 2 2라고 가정합시다.
기 때 그룹1에 공포도가 1,2,3인 모험가를 한 명씩 넣고 그룹2에 공포도가 2인 남은 2명을 넣게 되면 총 2개의 그룹을 만들 수 있습니다. 또한 모든 모험가를 그룹에 넣을 필요는 없습니다.

In [3]:
n=int(input().strip())
fear_levels=list(map(int,input().split()))
fear_levels.sort()

result=0 # 최종 만들 수 있는 그룹 수
group_size=0 # 현재 그룹에 모인 사람 수

for fear in fear_levels:
  group_size +=1 # 이 모험가를 그룹에 포함
  # 현재 그룹에 모인 수가 이 모험가의 공포도 이상이면
  if group_size >= fear:
    result += 1 # 그룹 결성
    group_size=0

print(result)

5
2 3 3 4 5 6
1

## Q2 곱하기 혹은 더하기
각 자리가 숫자(0부터 9)로만 이루어진 문자열 s가 주어졌을 때, 왼쪽부터 오르쪽으로 하나씩 모든 숫자를 확인하며 숫자 사이에 '×' 혹은 '+' 연산자를 넣어 결과적으로 만들 수 있는 가장 큰 수를 구하는 프로그램을 작성하세요. 단 일반적인 계산방식과는 달리, 모든 연산은 왼쪽에서부터 순서대로 이루어진다고 가정합니다.

예를 들어 02984 라는 문자열이 주어지면, 만들어질 수 있는 가장 큰 수는 ((((0 + 2) x 9) x8)x4)=576입니다.

또한 만들어질 수 있는 가장 큰 수는 항상 20억 이하의 정수가 되도록 입력이 주어집니다.

- 입력조건 : 첫째 줄에 여러 개의 숫자로 구성된 하나의 문자열 S가 주어집니다. (1<=S의 길이 <=20)
- 출력조건 : 첫째 줄에 만들어질 수 있는 가장 큰 수를 출력합니다.

In [4]:
s=input().strip()

# 지금까지 만든 결과(result)가 0 또는 1이거나, 다음 숫자(num)가 0 또는 1이면 더하기(+), 그 외엔 곱하기(×)
result=int(s[0])

for ch in s[1:]:
  num=int(ch)
  if result<=1 or num<=1:
    result+=num
  else:
    result*=num

print(result)

37632
756

.strip() : 문자열내에서 원하는 문자열 또는 공백을 모두 제거한다.
```
string = "         abcde         "
string.strip()

# 'abcde'

```

## Q3 문자열 뒤집기
다솜이는 0과 1로만 이루어진 문자열 s를 가지고 있습니다. 이 문자열 s에 있는 모든 숫자를 전부 같게 만들려고 합니다. 다솜이가 할 수 있는 행동은 연속된 하나 이상의 숫자를 잡고 모두 뒤집는 것입니다. 뒤집는 것은 1을 0으로, 0을 1으로 바꾸는 것을 의미합니다.
예를 들어 s=0001100일 때는 다음과 같습니다.
1. 전체를 뒤집으면 1110011이 됩니다.
2. 4번째 문자부터 5번째 문자까지 뒤집으면 1111111이 되어서 두 번 만에 모두 같은 숫자로 만들 수 있습니다.

하지만 처음부터 4번째 문자부터 5번째 문자까지 문자를 뒤집으면 한 번에 0000000이 되어서 1번 만에 모두 같은 숫자로 만들 수 있습니다.
문자열 s가 주어졌을 때, 다솜이가 해야 하는 행동의 최소 횟수를 출력하세요.

- 입력 조건 : 첫째 줄에 0과 1로만 이루어진 문자열 s가 주어집니다. s의 길이는 100만보다 작습니다.
- 출력 조건 : 첫째 줄에 다솜이가 해야 하는 행동의 최소 횟수를 출력합니다.

In [10]:
s=input().strip()
#문자열을 0 그룹, 1 그룹으로 나누어 생각하면,한 번 뒤집기로 하나의 그룹을 “한꺼번에” 뒤집을 수 있어요.
#최종적으로는 min(0그룹 개수, 1그룹 개수) 가 답.
result=0
prev=s[0]
count0=0
count1=0
if prev=='0':
  count0=1
else:
  count1=1

for ch in s[1:]:
  if ch != prev:
    if ch=='0':
      count0+=1
    else:
      count1+=1
    prev=ch

print(min(count0,count1))

0001010
2

## Q4 만들 수 없는 금액 -- 이해 안됨
동네 편의점인 주인인 동빈이는 n개의 동전을 가지고 있습니다. 이 때 n개의 동전을 이용하여 만들 수 없는 양의 정수 금액 중 최솟값을 구하는 프로그램을 작성하세요.

예를 들어, n=5이고, 각 동전이 각각 3원, 2원, 1원, 1원, 9원짜리 (화폐단위) 동전이라고 가정합시다. 이 때 동빈이가 만들 수 없는 양의 정수 금액 중 최솟값은 8원입니다.
또 다르 예시로, n=3이고, 각 동전이 각각 3, 5, 7원짜리 (화폐단위) 동전이라고 가정합시다. 이 때 동빈이가 만들 수 없는 양의 정수 금액 중 최솟값은 1원입니다.

- 입력 조건
  1. 첫째 줄에는 동전의 개수를 나타내는 양의 정수 n이 주어집니다. (1<=n<=1000)
  2. 둘째 줄에는 각 동전의 화폐 단위를 나타내는 n개의 자연수가 주어지며, 각 자연수는 공백으로 구분합니다. 이 때 각 화폐 단위는 1,000,000 이하의 자연수입니다.
- 출력 조건 : 첫째 줄에 주어진 동전들로 만들 수 없는 양의 정수 금액 중 최솟값을 출력합니다.

In [15]:
n= int(input().strip())
coins = list(map(int, input().split()))

coins.sort()

target=1 # 1원부터 target-1원까지는 모두 만들 수 있다.”

for coin in coins:
  if coin>target: #지금 target원을 만들 수 없으므로” 바로 target이 답
    break
  target +=coin #이 동전을 쓰면 만들 수 있는 최대 금액 범위가 target+coin-1까지 확장되므로

print(target)

5
1 4 53 2 3
11

## Q5 볼링공 고르기
a, b두 사람이 볼링을 치고 있습니다. 두 사람은 서로 무게가 다른 볼링공을 고르려고 합니다. 볼링공은 총 n개가 있으며 각 볼링공마다 무게가 적혀있고, 공의 번호는 1번부터 순서대로 부여됩니다. 또한 같은 무게의 공이 여러 개 있을 수 있지만, 서로 다른 공으로 간주합니다. 볼링공의 무게는 1부터 m까지의 자연수 형태로 존재합니다.

예를 들어 n이 5이고, m이 3이며 각각 무게가 차례대로 1,3,2,3,2일 때 각 공의 번호가 차례로 1번부터 5번까지 부여됩니다. 이 때 두 사람이 고를 수 있는 볼링공 번호의 조합을 구하면 다음과 같습니다.

(1,2) (1,3) (1,4) (1,5) (2,3) (2,5) (3,4) (4,5)

결과적으로 두 사람이 공을 고르는 경우의 수는 8가지 입니다. N개의 공의 무게가 각각 주어질 때, 두 사람의 볼링공을 고르는 경우의 수를 구하는 프로그램을 작성하세요

- 입력조건
  1. 첫째 줄에 볼링공의 개수 n, 공의 최대 무게 m이 공백으로 구분되어 각각 자연수 형태로 주어집니다.
  2. 둘째 줄에 각 볼링공의 무게 k 가 공백으로 구분되어 자연수 형태로 주어집니다.
- 출력조건 : 첫째 줄에 두 사람이 볼링공을 고르는 경우의 수를 출력합니다.

In [17]:
n, m = map(int,input().split())
k= list(map(int,input().split()))

count=0
for i in range(n):
  for j in range(i+1,n):
    if k[i] != k[j]:
      count+=1
print(count)

5 3
1 3 2 3 2
8